<!DOCTYPE html>
<html ng-app="MeetingCostCalculatorApp">
<head>
    <title>Meeting cost calculator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bower managed dependencies -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.min.js" type="text/javascript"></script>

    <!-- In-app dependencies -->
    <link href="app/ui/style/style.css" rel="stylesheet"/>    
    <script src="app/app.js" type="text/javascript"></script>
    <script src="app/constants.js" type="text/javascript"></script>
    <script src="app/scripts/services/meetingcostcalculator.js" type="text/javascript"></script>
    <script src="app/scripts/services/socketio.js" type="text/javascript"></script>
    <script src="app/scripts/services/rest.js" type="text/javascript"></script>
    <script src="app/scripts/controllers/meetingcostcalculator.js" type="text/javascript"></script>
    <script src="app/scripts/controllers/tictactoe.js" type="text/javascript"></script>
    <script src="app/scripts/filters/meetingstatus.js" type="text/javascript"></script>
    <script src="app/scripts/filters/tictactoewinner.js" type="text/javascript"></script>
    <script src="app/scripts/filters/version.js" type="text/javascript"></script>
    <script src="app/scripts/directives/focus.js" type="text/javascript"></script>
    <script src="app/scripts/directives/blur.js" type="text/javascript"></script>
</head>

<body>

    <div ng-controller="MeetingCostCalculatorCtrl">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">Meeting</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#notBuiltYetModal">Top list</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#notBuiltYetModal">About</a></li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="page-header">
                <h1><span id="connection-indicator" class="connecting" ng-click="connect()">M</span>eeting cost calculator<h1> <h4><span class="version" data-toggle="tooltip" title="{{version}}">{{version|version}}</span></h4>
            </div>
            <div class="alert alert-warning">
                <img src="app/ui/image/warning.png">
                Warning, should probably only be used in a laid-back way and together w/ the right people.
            </div>
        </div>

        <div class="container">

            <form class="form-inline" role="form">

                <div class="row">
                    <div class="form-group col-sm-4 col-lg-3">
                        <label class="sr-only" for="numberOfAttendees">Number of attendees</label>
                        <input id="numberOfAttendees" type="number" class="form-control" ng-model="meeting.numberOfAttendees" placeholder="Number of attendees">
                    </div>

                    <div class="form-group col-sm-4 col-lg-3">
                        <label class="sr-only" for="averageHourlyRate">Average hourly rate</label>
                        <input id="averageHourlyRate" type="number" class="form-control" ng-model="meeting.averageHourlyRate" placeholder="Average hourly rate">
                    </div>

                    <div class="form-group col-sm-4 col-lg-3">
                        <label class="sr-only" for="currency">Currency</label>
                        <input id="currency" type="text" class="form-control" ng-model="meeting.currency" placeholder="Currency">
                    </div>

                    <div class="form-group col-sm-12 col-lg-3">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" ng-click="startMeeting(); animateToBottom()" ng-show="meeting.status == 'notStarted' || meeting.status == 'stopped'" ng-disabled="meeting.numberOfAttendees == null || meeting.averageHourlyRate == null || meeting.currency == null || meeting.currency == ''">
                                Start meeting
                            </button>

                            <button type="button" class="btn btn-danger" ng-click="stopMeeting()" ng-show="meeting.status == 'started' || meeting.status == 'paused'" data-toggle="modal" data-target="#addNameModal">
                                Stop
                            </button>

                            <button type="button" class="btn btn-warning" ng-click="pauseMeeting()" ng-show="meeting.status == 'started'">
                                Pause
                            </button>

                            <button type="button" class="btn btn-warning" ng-click="resumeMeeting()" ng-show="meeting.status == 'paused'">
                                Resume
                            </button>

                            <button type="button" class="btn btn-primary" ng-click="meeting.isBoring = true; animateToBottom()" ng-show="(meeting.status == 'started' || meeting.status == 'paused') && meeting.isBoring == false">
                                Boring?
                            </button>

                            <button type="button" class="btn btn-primary" ng-click="meeting.isBoring = false" ng-show="(meeting.status == 'started' || meeting.status == 'paused') && meeting.isBoring == true">
                                Not boring?
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="addNameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add a name to the meeting?</h4>
                      </div>
                      <div class="modal-body">
                        <label for="nameOfMeeting">Meeting name</label>
                        <input id="nameOfMeeting" type="text" class="form-control" ng-model="meeting.name">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNameToMeeting()">Add name</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="notBuiltYetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Whoops!</h4>
                      </div>
                      <div class="modal-body">
                        This functionality is not built yet... Check back soon!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Okay!</button>
                      </div>
                    </div>
                  </div>
                </div>

            </form>

            <div ng-show="meeting.status != 'notStarted'" ng-click="shareMeeting()"  data-toggle="tooltip" title="Click to open a sharing url (in a new tab) for this fantastic meeting" ng-class="{'clickable': meeting.id != null}" class="meeting-cost label label-info col-xs-12 col-md-8">
                {{meeting|meetingstatus}}
            </div>

            <div ng-controller="TicTacToeCtrl" id="playground" ng-show="meeting.isBoring">
                <div class="nextPlayer">Next Player: {{nextMove}}</a></div>
                <table class="board">
                    <tr ng-repeat="row in board" style="height:15px;">
                        <td ng-repeat="cell in row" ng-style="cellStyle" ng-click="dropPiece($parent.$index, $index)">{{cell}}</td>
                    </tr>
                </table>
                <div class="winner" ng-show="winner">{{winner|tictactoewinner}}</div>
                <a ng-click="reset()" href="#" data-role="button" data-inline="true">Reset board</a>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('input, textarea').placeholder();
        });
    </script>

</body>
</html>
