<!DOCTYPE html>
<html ng-app="MeetingCostCalculatorApp">
<head>
    <title>Meeting cost calculator v1.3.1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="client/ui/style/bootstrap.min.css" rel="stylesheet"/>
    <link href="client/ui/style/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="client/ui/style/style.css" rel="stylesheet"/>    
</head>

<body>

    <div class="jumbotron">
        <div class="page-header">
            <h1>Meeting cost calculator <span class="version">v1.3.1</span></h1>
        </div>
        <div class="alert alert-warning">
            <img src="client/ui/image/warning.png">
            Warning, should probably only be used in a laid-back way and together w/ the right people.
        </div>
    </div>

    <div class="container" ng-controller="MeetingCostController">

        <form class="form-inline" role="form">

            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    <label class="sr-only" for="numberOfAttendees">Number of attendees</label>
                    <input id="numberOfAttendees" type="number" class="form-control" ng-model="meeting.numberOfAttendees" placeholder="Number of attendees">
                </div>

                <div class="form-group col-sm-4 col-md-3">
                    <label class="sr-only" for="averageHourlyRate">Average hourly rate</label>
                    <input id="averageHourlyRate" type="number" class="form-control" ng-model="meeting.averageHourlyRate" placeholder="Average hourly rate">
                </div>

                <div class="form-group col-sm-4 col-md-3">
                    <label class="sr-only" for="currency">Currency</label>
                    <input id="currency" type="text" class="form-control" ng-model="meeting.currency" placeholder="Currency">
                </div>

                <div class="form-group col-sm-12 col-md-3">
                    <span ng-show="meeting.status == 'notStarted' || meeting.status == 'stopped'">
                        <button type="button" class="btn btn-success" ng-click="startMeeting()">
                            Start meeting
                        </button>
                    </span>

                    <span ng-show="meeting.status == 'started' || meeting.status == 'paused'">
                        <button type="button" class="btn btn-danger" ng-click="stopMeeting()">
                            Stop
                        </button>
                    </span>

                    <span ng-show="meeting.status == 'started'">
                        <button type="button" class="btn btn-warning" ng-click="pauseMeeting()">
                            Pause
                        </button>
                    </span>

                    <span ng-show="meeting.status == 'paused'">
                        <button type="button" class="btn btn-warning" ng-click="resumeMeeting()">
                            Resume
                        </button>
                    </span>

                    <span ng-show="(meeting.status == 'started' || meeting.status == 'paused') && meeting.isBoring == false">
                        <button type="button" class="btn btn-primary" ng-click="meetingIsBoring()">
                            Boring?
                        </button>
                    </span>

                    <span ng-show="(meeting.status == 'started' || meeting.status == 'paused') && meeting.isBoring == true">
                        <button type="button" class="btn btn-primary" ng-click="meetingIsNotBoring()">
                            Not boring?
                        </button>
                    </span>
                </div>
            </div>

        </form>

        <div ng-show="meeting.status != 'notStarted'" class="meeting-cost label label-info col-xs-12 col-md-8">
            {{meeting|meetingstatus}}
        </div>

        <div ng-controller="TicTacToeCtrl" id="playground">
            <div class="nextPlayer">Next Player: {{nextMove}}</a></div>
            <table class="board">
                <tr ng-repeat="row in board track by $index" style="height:15px;">
                    <td ng-repeat="cell in row track by $index" ng-style="cellStyle" ng-click="dropPiece($parent.$index, $index)">{{cell}}</td>
                </tr>
            </table>
            <div class="winner" ng-show="winner">{{winner|tictactoewinner}}</div>
            <a ng-click="reset()" href="#" data-role="button" data-inline="true">Reset board</a>
        </div>

    </div>

    <script src="client/js/lib/angular.min.js" type="text/javascript"></script>
    <script src="client/js/lib/angular-resource.min.js" type="text/javascript"></script>
    <script src="client/js/lib/jquery-1.8.3.min.js"></script>

    <script src="client/js/app.js" type="text/javascript"></script>
    <script src="client/js/constants.js" type="text/javascript"></script>
    <script src="client/js/directives.js" type="text/javascript"></script>
    <script src="client/js/service/nodejsservice.js" type="text/javascript"></script>
    <script src="client/js/service/restservice.js" type="text/javascript"></script>
    <script src="client/js/controller/meetingcostcalculatorcontroller.js" type="text/javascript"></script>
    <script src="client/js/controller/tictactoecontroller.js" type="text/javascript"></script>
    <script src="client/js/filter/meetingstatusfilter.js" type="text/javascript"></script>
    <script src="client/js/filter/tictactoewinnerfilter.js" type="text/javascript"></script>

</body>
</html>
