html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0;
	padding: 0; 
	margin-left: auto;
	margin-right: auto;
}

.warning {
	font-size: 12px;
	color: gray;
}

.warning span, img {
	vertical-align: text-bottom;
}

#page {
	height: 100%;
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
}

#meetingInputVariables div {
	margin-top: 15px;
	margin-bottom: 15px;
}

#playground {
	display: none;
	height: 100%;
	width: 90%; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -2px;
}

table, tr, td {
	width: 33%; 
	height: 33%; 
}

table {
	height: 70%;
	border-spacing: 0px;
}

.ui-title {
    margin: 0.6em 10% 0.8em !important;
}

.board {
	min-width: 100%;
	height: 300px;
	padding: 0px;
}

.nextPlayer {
	display: none;
}

.winner {
	margin-top: 5px;
}

#controlWhenStarted, #controlWhenPaused, #controlWhenNotBoring, #controlWhenBoring {
    display: none;
}