<div class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2">
    	<img src="app/img/profile.jpeg" alt="Profile pic" class="img-circle img-responsive">
    </div>
    <div class="about-me col-xs-8 col-sm-9 col-lg-10">
    	<h1>About me</h1>
    	I'm a software developer living in Stockholm, Sweden and working at <a href="http://www.aptitud.se" target="_blank">Aptitud</a>. 

    	<h1>Why a Meeting cost calculator</h1>
    	I'm building Meeting cost calculator mostly to try out different frameworks, techniques and patterns. But also little bit because I think quite a lot of meetings are a waste of time. Some of them are good, some of them are necessary, but some of them are just a waste of time and money.

    	<h1>Frameworks used</h1>
    	<ul>
    		<li ng-repeat="framework in frameworks">
                <a href="http://{{framework.url}}" target="_blank">{{framework.name}}</a>
            </li>
   		</ul>
    </div>
</div>