.container {
	padding-bottom: 15px;
}

.form-inline .form-group {
	margin-right: 10px;
}

.alert {
	font-size: 14px;
}

.meeting-cost {
	font-size: 100%;
	display: block;
}

#playground {
	display: none;
	height: 100%;
	width: 90%; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -2px;
}

table, tr, td {
	width: 33%;
	height: 33%;
}

table {
	width: 100%; 
	height: 70%;
	border-spacing: 0px;
}

.ui-title {
    margin: 0.6em 10% 0.8em !important;
}

.board {
	min-width: 100%;
	height: 300px;
	padding: 0px;
}

.nextPlayer {
	display: none;
}

.winner {
	margin-top: 5px;
}

#controlWhenStarted, #controlWhenPaused, #controlWhenNotBoring, #controlWhenBoring {
    display: none;
}