<div class="row">
    <div class="col-xs-12 col-sm-3 col-lg-2">
    	<img src="app/img/profile.jpeg" width="100%" alt="Profile pic" class="img-circle img-responsive profile-pic">
    </div>
    <div class="about-me col-xs-12 col-sm-9 col-lg-9">
    	<h1>About me</h1>
    	I'm a software developer living in Stockholm, Sweden and working at <a href="http://www.aptitud.se" target="_blank">Aptitud</a>. 

    	<h1>Why a Meeting cost calculator</h1>
    	I'm building Meeting cost calculator mostly to try out and learn different frameworks, techniques and patterns. But also little bit because I think quite a lot of meetings are a waste of time. Some of them are good, some of them are necessary, but some of them are just a waste of time and money.

    	<h1>Frameworks used</h1>
    	<ul>
    		<li ng-repeat="framework in frameworks">
                <a ng-href="http://{{framework.url}}" target="_blank">{{framework.name}}</a>
            </li>
   		</ul>

        <h1>Architecture overview</h1>
        <a href="app/img/arch_overview.png" target="_blank" data-toggle="tooltip" title="Click to get a bigger picture"><img src="app/img/arch_overview.png" width="100%" alt="Arch overview" class="img-rounded img-responsive arch-pic"></a>
    </div>
</div>