<div>

	<form class="form-inline" role="form">

	    <div class="row">
	        <div class="form-group col-sm-4">
	            <label for="numberOfAttendees">Number of attendees</label>
	            <input id="numberOfAttendees" type="number" class="form-control" ng-model="meeting.numberOfAttendees" placeholder="E.g. 10">
	        </div>

	        <div class="form-group col-sm-4">
	            <label for="averageHourlyRate">Average hourly rate</label>
	            <input id="averageHourlyRate" type="number" class="form-control" ng-model="meeting.averageHourlyRate" placeholder="E.g. 150">
	        </div>

	        <div class="form-group col-sm-4">
	            <label for="currency">Currency</label>
      			<select id="currency" ng-model="meeting.currency" ng-options="currency.key as currency.key + ' (' + currency.name + ')' for currency in currencies" class="form-control"></select>
	        </div>

	        <div class="form-group col-sm-12">
	            <div class="pull-right">
	                <button type="button" class="btn btn-primary" ng-click="startMeeting(); animateToBottom()" ng-show="meeting.status == 'notStarted' || meeting.status == 'stopped'" ng-disabled="meeting.numberOfAttendees == null || meeting.averageHourlyRate == null || meeting.currency == null || meeting.currency == ''">
	                    Start meeting
	                </button>

	                <button type="button" class="btn btn-danger" ng-click="stopMeeting()" ng-show="meeting.status == 'started' || meeting.status == 'paused'" data-toggle="modal" data-target="#addNameModal">
	                    Stop
	                </button>

	                <button type="button" class="btn btn-warning" ng-click="pauseMeeting()" ng-show="meeting.status == 'started'">
	                    Pause
	                </button>

	                <button type="button" class="btn btn-warning" ng-click="resumeMeeting()" ng-show="meeting.status == 'paused'">
	                    Resume
	                </button>

	                <button type="button" class="btn btn-default" ng-click="meeting.isBoring = true; animateToBottom()" ng-show="(meeting.status == 'started' || meeting.status == 'paused') && meeting.isBoring == false">
	                    Boring?
	                </button>

	                <button type="button" class="btn btn-default" ng-click="meeting.isBoring = false" ng-show="(meeting.status == 'started' || meeting.status == 'paused') && meeting.isBoring == true">
	                    Not boring?
	                </button>
	            </div>
	        </div>
	    </div>

	    <div class="modal fade" id="addNameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title" id="myModalLabel">Add more info to the meeting?</h4>
	          </div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
 						<div class="form-group">
    						<label for="nameOfMeeting" class="col-sm-4 control-label">Meeting name</label>
    						<div class="col-sm-8">
								<input id="nameOfMeeting" type="text" class="form-control" ng-model="meeting.name">
							</div>
						</div>
				        <div class="form-group">
    						<label for="nameOfMeeting" class="col-sm-4 control-label">A good meeting?</label>
    						<div class="col-sm-8">
								<input type="checkbox" ng-model="meeting.goodMeeting">
							</div>
						</div>
					</form>
				</div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
	            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNameToMeeting()">Add info</button>
	          </div>
	        </div>
	      </div>
	    </div>

	</form>

    <div class="row">
		<div class="col-xs-12">
			<div pj-meeting-status></div>
		</div>
	</div>

	<div id="playground" ng-show="meeting.isBoring">
	    <div class="nextPlayer">Next Player: {{nextMove}}</a></div>
	    <table class="board">
	        <tr ng-repeat="row in board" style="height:15px;">
	            <td ng-repeat="cell in row track by $index" ng-style="cellStyle" ng-click="dropPiece($parent.$index, $index)">
	            	{{cell}}
	            </td>
	        </tr>
	    </table>
	    <div class="winner" ng-show="winner">{{winner|tictactoewinner}}</div>
	    <a ng-click="reset()" data-role="button" data-inline="true">Reset board</a>
	</div>

    <div class="row" style="color: white">
        <div class="visible-lg">L</div>
        <div class="visible-md">M</div>
        <div class="visible-sm">S</div>
        <div class="visible-xs">XS</div>
    </div>

</div>
