<div id="runningmeetings" class="table-responsive" ng-show="runningMeetings.length > 0">
    <div pj-header text="Running meetings"></div>

    <table class="table table-striped table-hover clickable">
        <thead>
        <tr>
            <th ng-click="updateNumberOfAttendeesOrder()" width="16%" class="numeric"># of attendees</th>
            <th ng-click="updateAverageHourlyRateOrder()" width="16%" class="numeric hidden-xs">Avg. hourly rate</th>
            <th ng-click="updateMeetingCostOrder()" width="16%" class="numeric">Cost</th>
            <th ng-click="updateDurationOrder()" width="16%" class="numeric hidden-xs hidden-sm">Duration</th>
            <th ng-click="updateComparableMeetingCostOrder()" width="16%" class="numeric hidden-xs">Comparable cost</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat=" meeting in runningMeetings | orderObjectBy:orderByAttribute:orderByDesc"
            ng-click="shareMeeting(meeting.id)">
            <td class="numeric">{{meeting.numberOfAttendees}}</td>
            <td class="numeric hidden-xs">{{meeting.averageHourlyRate}}</td>
            <td class="numeric">{{meeting.meetingCost}} {{meeting.currency}}</td>
            <td class="numeric hidden-xs hidden-sm">{{meeting.prettyDuration}}</td>
            <td class="numeric hidden-xs">{{meeting.comparableMeetingCost}} {{meeting.comparableCurrency}}</td>
        </tr>
        <tr>
            <td class="hidden-xs hidden-sm" colspan="4"><strong>Total</strong></td>
            <td class="numeric hidden-xs hidden-sm"><strong>{{totalComparableMeetingCost}}</strong></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="norunningmeetings" class="table-responsive" ng-show="runningMeetings.length == 0">
    <div class="alert alert-warning">No running meetings right now</div>
</div>